/* Article */

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.article-box {
  box-shadow: inset -12px -8px 40px #46464620;
  --border-radius: 0.75rem;
  --primary-color: #0088cc;
  --secondary-color: #eeeeee;
  position: relative;
}

.article-box .article-title {
  font-size: 1.2rem;
  cursor: pointer;
}

.article-box .article-arrow {
  position: absolute;
  cursor: pointer;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
}

.article-box i {
  transition: 1s;
}

.article-box:hover .article-title {
  color: var(--primary-color);
  text-decoration: underline;
}

.article-box:hover .article-arrow {
  background: #eeeeee;
  color: #0088cc;
  border: 2px solid #0088cc;
}

.article-box:hover .read-more {
  color: #0088cc;
}

.article-box:hover .arrow-icon {
  color: #0088cc;
}

.article-box:hover .article-arrow i {
  transform: translateX(3px);
}

.read-more {
  color: #eeeeee;
}

.arrow-icon {
  color: #eeeeee;
}

/* ArticleCard */

.read-btn:active {
  transform: scale(0.9);
}

/* ArticlePage */

/* No Comments de ArticlePage  */

.no-comments {
  margin-top: 1rem;
  padding: 1rem 1.2rem 1rem 1.2rem;
  background-color: #eeeeee;
}

.no-comments-title {
  margin-bottom: 0.8rem;
  font-size: 1.7rem;
  color: #666666;
}

.no-comments-message {
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
}

/* End No comments ArticlePage */

.to-profile {
  text-align: center;
  cursor: pointer;
  color: #0088cc;
  background-color: #97979756;
  padding: 0.5rem;
  width: auto;
  transition: all 0.3s;
  position: relative;
}

.to-profile .btn-to-profile {
  transition: all 0.3s;
}

.to-profile::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
  transform: scale(0.1, 1);
}

.to-profile:hover .btn-to-profile {
  letter-spacing: 2px;
}

.to-profile:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.to-profile::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.to-profile:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
