/* Article */

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.article-box {
  box-shadow: inset -12px -8px 40px #46464620;
  --border-radius: 0.75rem;
  --primary-color: #0088cc;
  --secondary-color: #eeeeee;
  position: relative;
}

.article-box .article-title {
  font-size: 1.2rem;
  cursor: pointer;
}

.article-box .article-arrow {
  position: absolute;
  cursor: pointer;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
}

.article-box i {
  transition: 1s;
}

.article-box:hover .article-title {
  color: var(--primary-color);
  text-decoration: underline;
}

.article-box:hover .article-arrow {
  background: #eeeeee;
  color: #0088cc;
  border: 2px solid #0088cc;
}

.article-box:hover .read-more {
  color: #0088cc;
}

.article-box:hover .arrow-icon {
  color: #0088cc;
}

.article-box:hover .article-arrow i {
  transform: translateX(3px);
}

.read-more {
  color: #eeeeee;
}

.arrow-icon {
  color: #eeeeee;
}

/* ArticleCard */

.read-btn:active {
  transform: scale(0.9);
}

/* ArticlePage */

/* No Comments de ArticlePage  */

.no-comments {
  margin-top: 1rem;
  padding: 1rem 1.2rem 1rem 1.2rem;
  background-color: #eeeeee;
}

.no-comments-title {
  margin-bottom: 0.8rem;
  font-size: 1.7rem;
  color: #666666;
}

.no-comments-message {
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
}

/* End No comments ArticlePage */

/* No favourite articles  */

.no-favourite-article {
  margin-top: 1rem;
  padding: 1rem 1.2rem 1rem 1.2rem;
  background-color: #eeeeee;
}

.no-favourite-article-title {
  margin-bottom: 0.8rem;
  font-size: 1.7rem;
  color: #666666;
}

.no-favourite-article-message {
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
}

/* End No favourite Article  */

.to-profile {
  text-align: center;
  cursor: pointer;
  color: #0088cc;
  background-color: #97979756;
  padding: 0.5rem;
  width: auto;
  transition: all 0.3s;
  position: relative;
}

.to-profile .btn-to-profile {
  transition: all 0.3s;
}

.to-profile::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
  transform: scale(0.1, 1);
}

.to-profile:hover .btn-to-profile {
  letter-spacing: 2px;
}

.to-profile:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.to-profile::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.to-profile:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/* InfoLogUser */

.card-user-article {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.btn-confirm-delete {
  background-color: #0088cc !important;
  color: #eeeeee !important;
}

.btn-confirm-delete:hover {
  background: transparent !important;
  border: 2px solid #0088cc;
  color: #0088cc !important;
}

.btn-modify-article {
  padding: 0.8rem 2rem;
  border-radius: 50px;
  border: 0;
  background-color: #eeeeee;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.btn-modify-article:hover {
  letter-spacing: 2px;
  background-color: #0088ccd1;
  color: #eeeeee;
  box-shadow: #0088cc 0px 7px 29px 0px;
}

.btn-modify-article:active {
  transform: scaleX(0.9);
}

.info-user-box {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (min-width: 250px) and (max-width: 504px) {
  .info-user-box {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 504.01px) and (max-width: 640.24px) {
  .info-user-box {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
  }
}

@media (min-width: 640.25px) and (max-width: 1280px) {
  .info-user-box {
    width: 90%;
    margin-right: 2rem;
  }
}
