.navbar-dynamic {
  top: 0px;
  background-color: #ffffff37;
  color: #000000 !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all ease;
}

.focus\:ring-cyan-300:focus {
  border: none !important;
}

.focus\:ring-2:focus {
  border: none !important;
  --tw-ring-shadow: none !important;
}

/* Link effect  */
.element-navbar {
  background-image: linear-gradient(to right, #0088cc, #0088cc 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.element-navbar::before {
  content: "";
  background: #0088cc;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.element-navbar:hover {
  background-position: 0;
}

.element-navbar:hover::before {
  width: 100%;
}

/* Toast Message  */

.Toastify__progress-bar {
  background-color: transparent;
}

.Toastify__toast-icon svg {
  fill: #0088cc;
}

.Toastify__close-button:hover,
.Toastify__close-button:focus {
  color: rgba(255, 0, 0, 0.665);
}
